vendor/
bin/
*.tar
*.gz
*.xz

# ---> Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
/cover.*
/cover/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.idea/
/.vscode/
/package/
/tests/_tmp/
/tests/tiup_home/
/tests/tiup_mirrors/*.sha1
/tests/tiup_mirrors/
/logs
docker/secret/
*__failpoint_binding__.go
*__failpoint_stash__
