---
name: integrate-cluster-cmd

on:
  schedule:
    # times are in UTC
    - cron: '19 21 * * *'
  pull_request:
    branches:
      - master
      - release-*
    paths-ignore:
      - '**.html'
      - '**.md'
      - 'CNAME'
      - 'LICENSE'
      - 'doc/**'
      - 'embed/templates/examples/**'
      - 'components/client/**'
      - 'components/ctl/**'
      - 'components/dm/**'
      - 'components/doc/**'
      - 'components/errdoc/**'
      - 'components/playground/**'
      - 'server/**'
      - 'pkg/version/version.go'
      - '.github/workflows/integrate-tiup**'
      - '.github/workflows/integrate-dm**'
      - '.github/workflows/integrate-playground**'

jobs:
  cluster:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        cases:
          - 'test_cmd'
          - 'test_cmd_tls_native_ssh'
          - 'test_upgrade'
          - 'test_upgrade_tls'
          - 'test_tikv_cdc'
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Go 1.24
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.x
        id: go
      - name: Build build_integration_test
        run: |
          export PATH=$PATH:$GOPATH/bin
          sudo apt-get update
          sudo apt-get install -y build-essential python-is-python3 python3-pip ca-certificates curl
          sudo install -m 0755 -d /etc/apt/keyrings
          sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
          sudo chmod a+r /etc/apt/keyrings/docker.asc
          echo \
                "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
                $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}") stable" | \
                sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
          sudo apt-get update
          sudo apt-get install -y docker-compose-plugin
          make build_integration_test tiup

      - name: Build the docker-compose stack
        run: ./docker/up.sh --daemon

      - name: Check running containers
        run: |
          docker ps
          df -h
          free -h

      - name: Run test suite
        id: test
        run: |
          # ensuere docker ssh is ready
          sleep 3
          # should not use -it
          # ref: https://stackoverflow.com/questions/43099116/error-the-input-device-is-not-a-tty
          docker exec tiup-cluster-control bash /tiup-cluster/tests/tiup-cluster/run.sh ${{ matrix.cases }}

      - name: Collect component log
        if: ${{ failure() }}
        # if: always()
        run: |
          docker exec tiup-cluster-control bash /tiup-cluster/tests/tiup-cluster/script/pull_log.sh /tiup-cluster/logs

      - name: Detect error log
        if: ${{ failure() }}
        # if: always()
        run: |
          bash ./tests/tiup-cluster/script/detect_error.sh ./logs/

      - name: Upload component log
        if: ${{ failure() }}
        # if: always()
        uses: actions/upload-artifact@v4
        with:
          overwrite: true
          name: component_logs
          path: ./logs

      - name: Output cluster debug log
        if: ${{ failure() }}
        # if: always()
        run: |
          pwd
          docker ps
          df -h
          free -h
          find ./logs -type f -exec sh -c 'echo "{}" && cat {} && echo "\n"' \; || true

      - name: Upload coverage to Codecov
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov -F cluster -s ./tests/tiup-cluster/cover -f '*.out'

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ failure() }}
        with:
          limit-access-to-actor: true

