---
name: integrate-tiup

on:
  schedule:
    # times are in UTC
    - cron: '19 21 * * *'
  pull_request:
    branches:
      - master
      - release-*
      - feature/*
    paths-ignore:
      - '**.html'
      - '**.md'
      - 'CNAME'
      - 'LICENSE'
      - 'doc/**'
      - 'embed/templates/examples/**'
      - '.github/workflows/integrate-cluster**'
      - '.github/workflows/integrate-dm**'
      - '.github/workflows/integrate-playground**'
  push:
    branches:
      - master
    paths-ignore:
      - '**.html'
      - '**.md'
      - 'CNAME'
      - 'LICENSE'
      - 'doc/**'
      - 'embed/templates/examples/**'
      - '.github/workflows/integrate-cluster**'
      - '.github/workflows/integrate-dm**'
      - '.github/workflows/integrate-playground**'

jobs:
  tiup:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        cases:
          - "test_tiup"
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Go 1.24
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.x
        id: go


      - name: Build build_tiup_test
        run: |
          export PATH=$PATH:$GOPATH/bin
          sudo apt update
          sudo apt-get install -y build-essential
          make build_tiup_test

      - name: Run test suite
        id: test
        run: |
          export PATH=$PATH:$PWD/bin
          echo $PATH
          bash ./tests/tiup/${{ matrix.cases }}.sh

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./tests/tiup/cover/*out
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Go 1.24
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.x
        id: go

      - name: make unit-test
        run: |
          export PATH=$PATH:$GOPATH/bin
          make check
          make test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: cover/*.out
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
