---
name: integrate-playground

on:
  schedule:
    # times are in UTC
    - cron: '19 21 * * *'
  pull_request:
    branches:
      - master
      - release-*
      - feature/*
    paths-ignore:
      - '**.html'
      - '**.md'
      - 'CNAME'
      - 'LICENSE'
      - 'doc/**'
      - 'embed/templates/examples/**'
      - 'embed/templates/examples/**'
      - 'components/client/**'
      - 'components/ctl/**'
      - 'components/cluster/**'
      - 'components/doc/**'
      - 'components/errdoc/**'
      - 'components/dm/**'
      - 'server/**'
      - 'pkg/version/version.go'
      - '.github/workflows/integrate-cluster**'
      - '.github/workflows/integrate-dm**'
      - '.github/workflows/integrate-tiup**'

jobs:
  playground:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: true
      matrix:
        cases:
          - "test_playground"
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Go 1.24
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.x
        id: go

      - name: Build build_tiup_playground_test
        run: |
          export PATH=$PATH:$GOPATH/bin
          sudo apt update
          sudo apt-get install -y build-essential psmisc
          make tiup build_tiup_playground_test

      - name: Run test suite
        id: test
        run: |
          export PATH=$PATH:$PWD/bin/
          bash ./tests/tiup-playground/${{ matrix.cases }}.sh

      - name: Collect component log
        if: ${{ failure() }}
        run: |
          # ignore the rocksdb
          find ./tests/tiup-playground/_tmp/home/data -type f -name "*.log" | grep -vE '/data/(raft|db|region-meta)/' | xargs cp {} ./logs

      - name: Upload component log
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          overwrite: true
          name: playground_logs
          path: ./logs

      - name: Output playground debug log
        if: ${{ failure() }}
        # if: always()
        run: |
          for f in $(find ./tests/tiup-playground/_tmp/home/data -type f -name "*.log" | grep -vE '/data/(raft|db|region-meta)/'); do echo "${f}" && cat "${f}"; done

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./tests/tiup-playground/cover/*.out
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
